name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build and test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        rust: [stable]
        include:
          - os: ubuntu-latest
            features: complex
          - os: windows-latest
            features: complex
          - os: macos-latest
            features: complex,mul_add
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.14"
    - name: Setup Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
        override: true
    - name: Build
      run: cargo build --verbose
    - name: Run tests with num-bigint
      run: cargo test --verbose --features ${{ matrix.features }},num-bigint
    - name: Run tests with num-bigint (Release)
      run: cargo test --verbose --features ${{ matrix.features }},num-bigint --release
    - name: Run tests with malachite-bigint
      run: cargo test --verbose --features ${{ matrix.features }},malachite-bigint
